useDynLib(GeoDiff, .registration=TRUE)
importFrom(Rcpp, evalCpp)

import(Biobase)
import(testthat)
importClassesFrom(GeomxTools,NanoStringGeoMxSet)
importFrom(Biobase,AnnotatedDataFrame)
importFrom(Biobase,annotation)
importFrom(Biobase,assayDataElement)
importFrom(Biobase,experimentData)
importFrom(Biobase,exprs)
importFrom(Biobase,fData)
importFrom(Biobase,featureNames)
importFrom(Biobase,fvarLabels)
importFrom(Biobase,notes)
importFrom(Biobase,pData)
importFrom(Biobase,phenoData)
importFrom(Biobase,protocolData)
importFrom(Biobase,sampleNames)
importFrom(Biobase,varLabels)
importFrom(GeomxTools,featureType)
importFrom(Matrix,bdiag)
importFrom(Rcpp,sourceCpp)
importFrom(Rfast,colsums)
importFrom(Rfast,rowsums)
importFrom(graphics,abline)
importFrom(graphics,boxplot)
importFrom(lme4,lFormula)
importFrom(robust,covRob)
importFrom(Matrix,Matrix)
import(Matrix)

export(BGScoreTest)
export(DENBth)
export(QuanRange)
export(aggreprobe)
export(coefNBth)
export(contrastNBth)
export(diagPoisBG)
export(fitNBth)
export(fitNBthDE)
export(fitNBthmDE)
export(fitPoisBG)
export(fitPoisthNorm)

importFrom("stats", "cor", "cov", "dnbinom", "dpois", "mad", "median",
           "model.matrix", "na.omit", "optim", "p.adjust", "pnorm",
           "ppois", "quantile", "rpois", "setNames", "var")